body{

	margin: auto 0;
	font-family: Arial;

}
.website{

	font-size: 2em;
	border-radius: 2px;
	
}

.top{
	
	background-color: greenyellow;
}

.main-navigation{
	display: flex;
	list-style-type: none;
	margin: 0;
	font-size: 1em;

}
/*when screen size is smaller than 600 px*/
@media only screen and (max-width:600px){
	.main-navigation{
		font-size: 0.6em;
	}
}
.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}


.push{

	margin-left: auto;

}
li{
		
	padding: 20px;
	color:white;
	cursor: pointer;
}
.cover-img{
	width: 35rem;
}

.cover{

	height:  50vh; /*viewpoint height : adjust according to the screen*/
	display: flex;
	align-items: center; /*align the items in the center of first column */
	justify-content: center; /*align items in the center of first row*/
	/*background: #7abcff; /* Old browsers */
    /*background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */*/
    /*background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */*/
    /*background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */*/
    /*background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */*/
    /*background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */*/*/
*/
}

.project{

	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */

}
.box > img{
	width: 100%;
}
.box{
	background-color: #444;
	padding: 30px;
	margin: 20px;

}

.footer{
	text-align: center;
	background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* IE10+ */
    background: linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */

}

